.gradle
/local.properties
.DS_Store
/build
/captures
Testing.java
BillingPublicKey.java
Misc/*
*.sw*
app-release.apk
.idea/*
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
